.example-card {
    max-width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform .5s;
  }

.example-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.icon{
    width: 200px;
}