<h2 mat-dialog-title>{{action}} Services</h2>
<mat-dialog-content>


<!-- 
    <mat-form-field>
        <mat-label>Room Number</mat-label>
        <input matInput [(ngModel)]="roomNumber">
    </mat-form-field> -->

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Room Number</mat-label>
        <mat-select [(ngModel)]="roomNumber" name="roomstatus" required>
            <!-- <mat-option  [value]="room.roomNumber"></mat-option> -->
            <ng-container  *ngFor="let room of allRooms">
                <mat-option  value="{{room.roomNumber}}" >{{room.roomNumber}}</mat-option>
            </ng-container>
        </mat-select>
        <!-- <mat-error *ngIf="!paymentType">Payment Type is required</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Task Id</mat-label>
        <mat-select [(ngModel)]="taskId" name="roomstatus" required>
            <ng-container  *ngFor="let task of userTasks">
                <mat-option  value="{{task.taskId}}" >{{task.taskId}}</mat-option>
            </ng-container>
        </mat-select>
        <!-- <mat-error *ngIf="!paymentType">Payment Type is required</mat-error> -->
    </mat-form-field>

    <mat-form-field  class="w-100">
        <mat-label>Note</mat-label>
        <input matInput class="w-100" [(ngModel)]="note">
    </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions class="ms-4">
    <button mat-button (click)="onNoClick()">Cancle</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="Task()">Submit</button>
</mat-dialog-actions>